.App {
  max-width: 600px;
  margin: 0 auto;
}

.App .app-card {
  background: white;
}

.App h1 {
  text-align: center;
}

.App .city-input {
  margin: 0px 12px;
}

.App .submit-btn {
  margin-right: 12px;
}

.App .current-btn {
}

.App footer {
  font-size: 12px;
  margin: 5px 0 0 5px;
}
