.Forecast {
  text-align: center;
  line-height: 1.8;
}

.Forecast .week-days {
  font-size: 9px;
  opacity: 0.6;
}

.Forecast canvas {
  display: block;
  margin: 5px auto 0 auto;
  opacity: 0.6;
}

.Forecast .day-temps {
  font-size: 10px;
  opacity: 0.8;
}

.Forecast .min-temps {
  opacity: 0.6;
}
