.ForecastPreview {
  padding: 10px 0 15px 0;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  color: rgb(27, 43, 77);
}

.ForecastPreview:hover {
  background: tomato;
  color: white;
}

.ForecastPreview {
  text-align: center;
  line-height: 1.8;
}

.ForecastPreview .week-days {
  font-size: 10px;
}

.ForecastPreview canvas {
  display: block;
  margin: 5px auto 0 auto;
}

.ForecastPreview .day-temps {
  font-size: 10px;
}

.ForecastPreview .min-temps {
  opacity: 0.7;
}
