.Weather .city-input {
  margin: 0px 12px;
}

.Weather .submit-btn {
  margin-right: 12px;
}

.Weather h2 {
  font-size: 32px;
  font-weight: normal;
  opacity: 0.6;
  margin: 10px 0;
}

.Weather .time-and-description {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.Weather .temp-div {
  margin-left: 10px;
}

.Weather .temperature {
  font-size: 42px;
  margin-left: 10px;
  position: relative;
  top: -12px;
}

.Weather .alt-unit {
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -32px;
}

.Weather ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.Weather li {
  font-size: 14px;
  opacity: 0.6;
}
