.Weather .city-input {
  margin: 0px 12px;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.Weather .city-input:hover {
  box-shadow: none;
}

.Weather .submit-btn {
  margin-right: 12px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background: rgb(50, 79, 141);
  border-color: rgb(50, 79, 141);
  color: white;
}

.Weather .submit-btn:hover {
  box-shadow: none;
  background: rgb(27, 43, 77);
  border-color: rgb(27, 43, 77);
  color: white;
}

.Weather .current-btn {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background: tomato;
  border-color: tomato;
  color: white;
}

.Weather .current-btn:hover {
  box-shadow: none;
  color: white;
  background: rgb(158, 60, 43);
  border-color: rgb(158, 60, 43);
}

.Weather h2 {
  font-size: 32px;
  font-weight: normal;
  color: rgb(50, 79, 141);
  margin: 10px 0;
}

.Weather .time-and-description {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 20px;
  color: rgb(27, 43, 77);
}

.Weather .temp-div {
  margin-left: 10px;
}

.Weather .temperature {
  font-size: 42px;
  margin-left: 10px;
  position: relative;
  top: -12px;
  color: rgb(27, 43, 77);
}

.Weather .alt-unit {
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -32px;
}

.Weather ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.Weather li {
  font-size: 14px;
  opacity: 0.6;
  color: rgb(27, 43, 77);
}
